# RISCV64_MIV Microchip PIC64GX configuration options

# Copyright (c) 2024 Microchip Technology Inc
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_PIC64GX
	bool
	select SOC_FAMILY_MICROCHIP_MIV
	help
	  Microchip RV64 implementation

config SOC_PIC64GX
	bool
	select SOC_SERIES_PIC64GX
	help
	  Microchip PIC64GX system implementation

config SOC_SERIES
	default "pic64gx" if SOC_SERIES_PIC64GX

config SOC
	default "pic64gx" if SOC_PIC64GX
